@import "~nord/src/sass/nord.scss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300&family=Oswald:wght@600&display=swap');

.page {
    height: calc(100vh - 25vw - 4rem);
    width: 100%;
    position: relative;
    color: $nord6;

    --min: 45ch;
    --gap: 1rem;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    padding-bottom: calc(25vw + 4rem);

    .splitter {
        position: absolute;
        aspect-ratio: 4;
        bottom: 0px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.curve1 {
            background-image: url("curves/curves1-nobg.svg");
        }
        &.curve2 {
            background-image: url("curves/curves2.svg");
        }
        &.curve3 {
            background-image: url("curves/curves3.svg");
        }
        &.curve4 {
            background-image: url("curves/curves4.svg");
        }
    }
    .scrolllink {
        z-index: 2;
        position: absolute;
        bottom: 4rem;
        width: 4rem;
        height: 8rem;
        left: calc(50vw - 2rem);

        .arrows {
            width: 60px;
            height: 72px;
            position: absolute;
            left: 50%;
            margin-left: -30px;
            bottom: 20px;
        
            path {
                stroke: $nord14;
                fill: transparent;
                stroke-width: 1px;	
                animation: arrow 2s infinite;
                -webkit-animation: arrow 2s infinite;
    
                &.a1 {
                    animation-delay:-1s;
                    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
                }
                &.a2 {
                    animation-delay:-0.5s;
                    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
                }
                &.a3 {	
                    animation-delay:0s;
                    -webkit-animation-delay:0s; /* Safari 和 Chrome */
                }
            }
            
            @keyframes arrow
            {
                0% {opacity:0}
                40% {opacity:1}
                80% {opacity:0}
                100% {opacity:0}
            }
            
            @-webkit-keyframes arrow /*Safari and Chrome*/
            {
                0% {opacity:0}
                40% {opacity:1}
                80% {opacity:0}
                100% {opacity:0}
            }
        }
    }

    .content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: min(25%, 4rem);
        margin-right: min(25%, 4rem);
        min-height: fit-content;

        h1 {
            font-family: 'Oswald', sans-serif;
        }

        p {
            font-family: 'Lexend', sans-serif;
        }

        .more {
            font-family: 'Oswald', sans-serif;
            z-index: 3;
            background: $nord1;
            color: $nord4;
            text-decoration: none;
            border: solid $nord14 1px;
            border-radius: 1rem;
            padding: .5rem;
            margin-right: auto;
        }
    }

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: min(12.5%, 2rem);
        div {
            background-size: cover;
            aspect-ratio: 16/9;
            width: 100%;
            border-radius: 0.5rem;
            box-shadow: 0.25rem 0.25rem 0.25rem $nord1;

            &.invite {
                font-family: 'Oswald', sans-serif;
                aspect-ratio: unset;
                padding: 1rem;
                padding-bottom: 2rem;
                div {
                    background-image: none;
                    box-shadow: none;
                }
                border: solid $nord4 2px;
                background: $nord0;
                display: flex;
                flex-direction: column;
                width: max-content;
                height: max-content;

                .invite_name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-items: end;
                    height: calc(64px + 1rem);
                    aspect-ratio: unset;

                    img {
                        border-radius: 50%;
                        margin: 0.5rem;
                    }

                    div {
                        height: calc(64px + 1rem);
                        min-width: 12rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        h1 {
                            margin: 0;
                            color: $nord4;
                        }

                        span {
                            font-family: 'Lexend', sans-serif;
                            color: $nord7;
                        }
                    }
                }

                .join {
                    text-decoration: none;
                    background: $nord14;
                    color: $nord6;
                    border-radius: 1rem;
                    padding: 1rem;
                    box-shadow: 0.125rem 0.125rem 0.125rem #000;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        &.bg{
            position: absolute;
            margin: 0;
            height: 100%;
            aspect-ratio: 1544/5232;
            right: 0px;
            top: 0px;
            div {
                position: absolute;
                bottom: 0px;
                right: 0px;
                height: 100vh;
            }
        }
        &.image1 div {
            background-image: url("assets/leaning-green.png");
        }
        &.image2 div {
            background-image: url("assets/socialmess.png");
        }
        &.image4 div {
            background-image: url("assets/lpml.png");
        }
    }


    &.page1 {
//        background-color: $nord1;
        background-image: url("curves/background.svg");
        background-size: cover;
        background-repeat: no-repeat;

        .content {
            border: solid $nord4 1px;
            border-radius: 1rem;
            background: rgba($nord0, 0.75);
            position: absolute;
            left: clamp(0rem, 12.5vw, calc(100vw - 250px));
            width: max(25%, 250px);
            margin: 1rem;
            padding: 1rem;
            top: min(50%, calc(100vh - 25vw - 4rem));
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                min-width: fit-content;
                max-height: 50%;
            }
        }
    }
    &.page2 {
        background-color: $nord2;
    }
    &.page3 {
        background-color: $nord10;
    }
    &.page4 {
        background-color: $nord1;
    }
}

.article {
    padding-top: 1rem;
    color: $nord6;
    padding-right: max(1rem, calc(25vw - 50px));
    padding-left: max(1rem, calc(25vw - 50px));
    font-family: 'Lexend', sans-serif;

    h1 {
        font-family: 'Oswald', sans-serif;
        color: $nord4;
    }
    h2, h3, h4, h5, h6, em, strong, del {
        color: $nord5;
    }
    h2, h3, h4, h5, h6 {
        font-family: 'Oswald', sans-serif;
    }

    table {
        thead {
            font-family: 'Oswald', sans-serif;
            color: $nord9;
            border-bottom: solid $nord4 2px;
        }
        &, th, td {
            border: solid $nord4 1px;
            margin: 0;
            border-collapse: collapse;
        }
        td {
            padding: 1rem;
        }
    }

    blockquote {
        border-left: solid $nord7 2px;
        margin-left: 1rem;
        padding-left: 1rem;
    }

    li::marker {
        color: $nord7;
    }

    a {
        color: $nord7;
        text-decoration: none;
    }
}